<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>714568265538-7lo30bhjeb2utk22h6ksfu43bo3juovs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.714568265538-7lo30bhjeb2utk22h6ksfu43bo3juovs</string>
	<key>API_KEY</key>
	<string>AIzaSyDtudiztlexBw22q1oeTFt1I97qAFn3r7s</string>
	<key>GCM_SENDER_ID</key>
	<string>714568265538</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.63moons.facepro</string>
	<key>PROJECT_ID</key>
	<string>faceprotest</string>
	<key>STORAGE_BUCKET</key>
	<string>faceprotest.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:714568265538:ios:4740cec20f64b2744d22db</string>
	<key>DATABASE_URL</key>
	<string>https://faceprotest.firebaseio.com</string>
</dict>
</plist>